<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="clvbrew.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <clvbrew.Properties.Settings>
            <setting name="API_Key" serializeAs="String">
                <value />
            </setting>
            <setting name="encStrings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="encImpStrings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="obfCtrlFlow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="compBytecode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="prsvLnInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="script" serializeAs="String">
                <value>cHJpbnQoIkhlbGxvIFdvcmxkIik=</value>
            </setting>
        </clvbrew.Properties.Settings>
    </userSettings>
</configuration>